<h1>welcome, Elf!</h1>

<h2>Ready to help find the perfect gift?</h2>

<form>
  <label>
  Full Name:
  <input type="text">
  </label>
  <label>
  E-mail:
  <input type="text">
  </label>
  Password:
  <input type="text">
  </label>
  Favorite Christmas Carol:
  <input type="text">
  </label>
  <button>sign up!</button>
</form>

<button>login</button>