
<h1>Welcome to the {{title}} <!-- Christmas Gift Ideas Generator --></h1>
<h2>Fill out this form to the right and we will send some gift ideas to you.</h2>


<form action="/process-request" method="POST"></form>>
<label>
  Your Name:
  <input type="text" name="" id="">
</label>
<label>
  Your E-mail:
  <input type="text" name="" id="">
</label>
<label>
  How do you know the recipient?
  <input type="text" name="" id="">
</label>
<label>
  Recipient's Gender:
  <input type="text" name="" id="">
  <label>
  Recipient's Age:
  <input type="text" name="" id="">
  <label>
  Your Budget:
  <input type="text" name="" id="">
  <label>
  Anything else you'd like us to know?
  <input type="text" name="" id="">
</label>
<button>Submit</button>
</form>

<footer>
  Want to help others find the perfect gifts? 
<a href="/signup">BECOME AN ELF!</a>
</footer>