
<h1>Welcome to the {{title}}</h1>

<h2 class="flex 90p">Fill the form, pay 1 $ and we will send to you 3 awesome gift idea!</h2>



<form action="/process-request" method="POST">
<label>
  Your Name:
  <input type="text" name="requesterName" placeholder="Ralph Parker">
</label>
<label>
  Your E-mail:
  <input type="text" name="requesterEmail" placeholder="turkeylover47@gmail.com">
</label>
<label>
  How do you know the recipient?
  <input type="text" name="recipientRelationship" placeholder="He is my son.">
</label>
<label>
  Recipient's Gender:
  <input type="text" name="recipientGender" placeholder="male">
  <label>
  Recipient's Age:
  <input type="number" name="recipientAge" placeholder="8">
  <label>
  Your Budget:
  <input type="number" name="requesterBudget" placeholder="$45.00">
  <label>
  Anything else you'd like us to know?
  <input type="text" name="recipientAdditionalInfo" placeholder="He loves the Red Ryder and Ovaltine. Dislikes the color pink.">
</label>
<button>Submit</button>
</form>

<footer>
  Want to help others find the perfect gifts? 
<a href="/become-an-elf-signup">BECOME AN ELF!</a>
</footer>