<h1>Thanks for letting us help you find the perfect gift!</h1>

<h2 class="flex">You will receive three amazing Christmas Ideas soon!</h2>

    <a href="/">
      <img class="back-btn-left-bttm back-btn" src="/images/ChevronLeftCircle-512.png" alt="back">
    </a>