<h1>{{secondTitle}}</h1>

{{> flash_message}}

<section class="container centered">
  <div>
    <h2 class="flex p90">Becoming an Elf is an important choise, you need to be very creative to suggest 3 awesome gifts!</h2>
  
    <a href="/">Back</a>
  </div>

  <form action="/process-signup" method="POST">

    <label for="">
      Name: 
      <input type="text" name="name" placeholder="">
    </label>

    <label for="">
      Surname: 
      <input type="text" name="surname" placeholder="">
    </label>

    <label for="">
      Email: 
      <input type="text" name="email" placeholder="elf@santaclous.com">
    </label>

    <label for="">
      Password: 
      <input type="password" name="originalPassword" placeholder="Your password">
    </label>

    <div>
    <button>Sign up</button>
    <p>or</p>
    <a href="/become-an-elf-login">Log In</a>
    <a href="/google/login">Sign Up with Google</a>

    </div>

  </form>


</section>