<h2>Sign Up</h2>

<form action="/process-signup" method="POST">

  <label for="">
    Your Full Name: 
    <input type="text" name="fullName" placeholder="Mister Elf">
  </label>

  <label for="">
    Email: 
    <input type="text" name="email" placeholder="elf@santaclous.com">
  </label>

  <label for="">
    Password: 
    <input type="password" name="originalPassword" placeholder="Your password">
  </label>

  <button>Sign Up</button>
</form>

<a href="/google/login">Sign Up with Google</a>