<h1>{{secondTitle}}</h1>

<section class="container centered">
  <div>
    <h2>Ready to help find the perfect Gifts?</h2>

    <a href="/">Back</a>
  </div>

  <div>
  <form action="/process-login" method="POST">
    <label for="">
      Email:
      <input type="email" name="email" placeholder="elf@santaclous.com"/>
    </label>

    <label for="">
      Password:
      <input type="password" name="originalPassword" placeholder="Your password"/>
    </label>

    <button>Log In</button>
    <p>or</p>
    <a href="/become-an-elf-signup">Sign Up</a>
    <a href="/">Forgot a password?</a>
  </form>

    <a href="/google/login">Log In with Google</a>
  </div>

</section>

