<div class="centered">
  <section class="card border-rad-5">

    <div class="flex j-center pad-top-20">
    <h3 class="h3-login">Login in to your workshop</h3>
    </div>

    {{> flash_message}}

    <form action="/process-login" method="POST" class="block pad-40">
      
      <label for="">
        <input type="email" name="email" placeholder="Email address" class="width-100 input-label"/>
      </label>

      <label for="">
        <input type="password" name="originalPassword" placeholder="Password" class="margin-top-20 width-100 input-label"/>
      </label>

      <button class="margin-top-20 width-100 pad-12 border-rad-5 bg-btn"><strong>Log In</strong></button>
      
    </form>

      {{!-- <div class="flex j-center pad-bttn-20">
        <a href="/google/login" class="a-google">Log In with Google</a>
      </div> --}}

      <div class="flex j-center bg-color">
        <p>New on the website? <a href="/elf-signup"> Sign Up</a></p>
      </div>
      
  </section>
      
  <div class="flex pad-20 j-center">
    <a href="/">Forgot your password?</a>
  </div>

</div>


