<nav>
  <ul>
    <li><img src="" alt="profile-picture"></li>
    <li><p>{{currentElf.name}}</p></li>
    <li><a href="/logout">Log out</a></li>
  </ul>
</nav>

<h2 class="flex center">Welcome {{currentElf.name}} to your Workshop Space</h2>

{{> flash_message}}

<section>

</section>
