<div class="centered">
  <section class="card">

    <p>Login in to your account</p>

    <form action="/process-login" method="POST" class="flex flex-dir-clmn">
      
      <label for="">
        Email:
        <input type="email" name="email" placeholder="elf@santaclous.com"/>
      </label>

      <label for="">
        Password:
        <input type="password" name="originalPassword" placeholder="Your password"/>
      </label>

      <button class="margin-bttm-20 margin-top-20">Log In</button>

      <a href="/elf-signup">Sign Up</a>

    </form>

    <a href="/google/login">Log In with Google</a>
  </section>
      
  <div class="flex pad-20 j-center">
    <a href="/">Forgot a password?</a>
  </div>

  {{> flash_message}}
</div>


