<h1>{{secondTitle}}</h1>

{{> flash_message}}

<section class="container flex">
  <div>
    <h2 class="flex p90">Becoming an Elf is an important choise, you need to be very creative to suggest 3 awesome gifts!</h2>
  
    <a href="/">Back</a>
  </div>

  <div class="card width-100">
    <form action="/process-signup" method="POST" class="block pad-40">

      <label for="">
        Name:
        <input type="text" name="name" placeholder="Name" class="input-label width-100">
      </label>

      <label for="">
        Surname:
        <input type="text" name="surname" placeholder="Surname" class="input-label width-100">
      </label>

      <label for="">
        Email:
        <input type="email" name="email" placeholder="Email address" class="input-label width-100">
      </label>

      <label for="">
        Password:
        <input type="password" name="originalPassword" placeholder="Password" class="input-label width-100">
      </label>

      <button class="margin-top-20 width-100 pad-12 border-rad-5">Sign up</button>
    </form>

      {{!-- <div class="flex j-center pad-bttn-20">
        <a href="/google/login" class="a-google">Sign Up with Google</a>
      </div> --}}

    <div class="flex j-center bg-color">
      <p>You are already an elf? <a href="/elf-login"> Log In</a></p>
    </div>

  </div>
</section>

<footer>
  Proudly made by <a href="">Filippo</a> and <a href="">Heather</a> during IRONHACK Bootcamp.
</footer>